<!DOCTYPE html>
<html>
	<h1>Clientes</h1>

	<ul>
		<% for (var chave in clientes) { %>
			<li><%= clientes[chave].nome %> - <%= clientes[chave].email %></li>
		<% } %>
	</ul>

	<br>
	<form action="/" method="POST">
		<input type="text" name="nome" placeholder="Nome">
		<input type="text" name="email" placeholder="Email">
		<input type="submit" name="Salvar">
	</form>
</html>